/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2020, 9:06:22 AM
    Author     : Door
*/

.content-wrapper>.content {
    padding: 0px 40px 60px 40px !important;
}

.content-wrapper {
    background: #ffffff !important;
}

.content-header {
    padding: 15px 2rem !important;
}

.panel-default {
    padding: 10px !important;
}
